.pizza-card {
  height: 100%;
  padding-top: 1rem;
  &__img {
    width: 70%;
    margin: 0 auto;
  }
  &__actions {
    display: flex;
    align-items: center;
    &-count {
      flex: 1;
      text-align: center;
    }
  }
}
